<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heartdiseases</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{url_for('static', filename='img/disease2page.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

</head>
    
<body>
  <section id="top-section" class="top-section">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='img/logo.png')}}"
                class="img-responsive" style="width:400px;height: 50px; margin-top: -18px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="disease.html">Home</a></li>

                <li class=""><a href="#prection">prection</a></li>
                <li class=""><a href="#about">About</a></li>

              </ul>
            </div>
           
          </div>
          
        </div>
      </nav>
      
    </div>
  </section>

  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Heart<br>Disease</h2>
            <hr class="botm-line">
            <p class="sec-para">Please, read these instructions before using our machine learning
              models. If you want to try it for learning purposes ,you can proceed to our
              prediction section.</p>

          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Symptoms</h3>
                <ul>
                  <li>Fever</li>
                  <li>hortness of breath</li>
                  <li>Weakness or fatigue </li>
                  <li>Dry or persistent cough</li>
                  <li>Skin rashes or unusual spots</li>
                  <li>Changes in your heart rhythm</li>
                  <li>Swelling in your legs or abdomen</li>
                </ul>

                <a href="Heartdisease.html" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Prevention</h3>
                <ul>
                  <li>Eat a healthy diet</li>
                  <li> Keep a healthy weight</li>
                  <li> avoid smoking and drinking</li>
                  <li>Maintain your blood sugar level</li>
                  <li>Keeps your body physically active</li>
                </ul>
                <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>

              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Treatment</h3>
                <p>Diabetes mellitus, commonly known as just diabetes, is a group of metabolic disorders characterized
                  by a high blood sugar level over a prolonged period of time.
                </p>
                <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
              </div>

            </div>

            </div>
            </div>
          </div>
        </div>
  </section>


  <script src="/home/apsara/Desktop/Onsite-Health-Diagnostic-OHD/src/assets/js/jquery.min.js"></script>
  <script src="/home/apsara/Desktop/Onsite-Health-Diagnostic-OHD/src/assets/js/jquery.easing.min.js"></script>
  <script src="/home/apsara/Desktop/Onsite-Health-Diagnostic-OHD/src/assets/js/bootstrap.min.js"></script>
  <script src="/home/apsara/Desktop/Onsite-Health-Diagnostic-OHD/src/assets/js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
</body>

</html>